* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial;
}

.container {
  width: 1100px;
  margin: auto;
}

/* HEADER */
.site-header {
  background: black;
  color: white;
  padding: 15px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-logo {
  width: 55px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list a {
  color: white;
  text-decoration: none;
}

/* MAIN */
.page-title {
  margin: 25px 0;
}

.details-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* IMAGE */
.car-image-box {
  border: 1px solid #ccc;
  padding: 10px;
}

.car-image-box img {
  width: 100%;
}

/* INFO */
.price {
  margin-bottom: 20px;
}

.features {
  display: flex;
  gap: 40px;
}

/* BUTTONS */
.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 18px;
  border: none;
  cursor: pointer;
}

.btn-red {
  background: darkred;
  color: white;
}

.btn-black {
  background: black;
  color: white;
}

/* FOOTER */
.site-footer {
  background: black;
  color: white;
  margin-top: 40px;
  padding: 20px 0;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 90px;
}